<h2>Accounts</h2>
<ng-container *ngIf="accounts$ | async as accounts">
  <ng-container
    *ngIf="
      accounts === null || undefined;
      then emptyAccounts;
      else existAccounts
    "
  ></ng-container>
  <ng-template #emptyAccounts></ng-template>
  <ng-template #existAccounts>
    <mat-card>
      <mat-card-content>
        <h3 class="inline-flex">Move to Account Detail Page</h3>
        <form #formRef="ngForm" class="flex-wrap">
          <mat-form-field class="flex p-6">
            <mat-label>Address</mat-label>
            <input
              #addressRef
              name="address"
              ngModel
              matInput
              placeholder="Input Address"
              required
              [minlength]="39"
            />
          </mat-form-field>
          <button
            clas="flex p-6"
            mat-flat-button
            color="primary"
            [disabled]="formRef.invalid"
            (click)="onMoveToAccountDetailPage(addressRef.value)"
          >
            Move
          </button>
        </form>
        <h3 class="inline-flex">Account List</h3>
        <table mat-table [dataSource]="accounts">
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">
              <a
                class="hover:opacity-75"
                routerLink="/explorer/accounts/{{ element.address }}"
                >{{ element.address }}
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="accountsDisplayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: accountsDisplayedColumns"
          ></tr>
        </table>
        <ng-container *ngIf="pageSize$ | async as pageSize">
          <ng-container *ngIf="pageNumber$ | async as pageNumber">
            <ng-container *ngIf="pageLength$ | async as pageLength">
              <mat-paginator
                [length]="pageLength"
                [pageSize]="pageSize"
                [pageIndex]="pageNumber ? pageNumber - 1 : 0"
                [pageSizeOptions]="pageSizeOptions ? pageSizeOptions : []"
                (page)="onPagenationChange($event)"
              ></mat-paginator>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </ng-template>
</ng-container>
