.mat-column-height {
  padding-left: 12px;
  padding-right: 12px;
}

.mat-column-timestamp {
  padding-left: 12px;
  padding-right: 12px;
}

.mat-column-hash {
  padding-left: 12px;
  padding-right: 12px;
}
